<!doctype html>
<html lang="en">

<head>
  <style>

  </style>
</head>

<body>
  <header class="header-area">
    <div class="navigation bg-gray-50">
    <!-- <div class="navigation"> -->
        <div class="container">
            <div class="row">
                <div class="w-full">
                    <nav class="flex items-center justify-between navbar navbar-expand-md">
                        <a class="mr-4 navbar-brand" href="index.html">
                            <img class="w-full" src="assets/images/logo-cropped.svg" alt="Logo">
                        </a>

                        <div>
                            <ul class="items-center content-start mr-auto lg:justify-center md:justify-end navbar-nav md:flex">
                                <!-- flex flex-row mx-auto my-0 navbar-nav -->
                                <li class="nav-item active">
                                    <a class="page-scroll" href="#home">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#service">SERVICES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#pricing">PRICING</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#testimonial">TESTIMONIAL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#contact">CONTACT</a>
                                </li>
                            </ul>
                        </div>

                        <div class="items-center justify-end hidden navbar-social lg:flex">
                            <span class="mr-4 font-bold text-gray-900 uppercase">FOLLOW US</span>
                            <ul class="flex footer-social">
                                <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                            </ul>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- navgition -->

    <div id="home" class=" text-gray-100">
        <div class="container">
            <div class="justify-center row">
                <div class="w-full lg:w-5/6 xl:w-2/3">
                    <div class="pt-24 pb-24 text-center header-content">
                        <h3 class="mb-5 text-3xl font-semibold leading-tight md:text-5xl">Lord Fitness Consulting</h3>
                        <p class="px-5 mb-10 text-xl">Helping individuals overcome recurring injuries or specific health obstacles to get back to the life, sports or activities that they love.</p>
                        <ul class="flex flex-wrap justify-center">
                            <li><a class="mx-4 p-5 border border-gray-100 border-solid hover:text-sky-500 hover:bg-gray-100 duration-300 uppercase" href="#">Book Now</a></li>
                            <li><a class="mx-4 p-5 border border-gray-100 border-solid hover:text-sky-500 hover:bg-gray-100 duration-300 uppercase" href="/contact">Get in touch</a></li>                            
                        </ul>
                    </div> <!-- header content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header content -->
</header>
<section id="service" class="py-20">
    <div class="container">
        <div class="flex">
            <div class="w-full mx-4 lg:w-2/2">
                <div class="pb-10 section-title">
                    <h4 class="title">How can Exercise Physiology help you?</h4>
                    <p class="text">Accredited Exercise Physiologist apply and prescribe Exercise as the intervention to help manage or prevent a host of health conditions, including Diabetes, Osteopenia and Osteoporosis.</p>
                    <p class="text mt-3">Any condition that exercise is proven to help, an Exercise Physiologist can assist. This can also include cardiovascular and neurological conditions all the way through to Mental health disorders and musculoskeletal injuries.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="flex">
            <div class="w-full lg:w-3/3">
                <div class="row">
                    <div class="w-full md:w-1/3">
                        <div class="block mx-4 services-content sm:flex">
                            <div class="services-icon">
                                <i class="lni-bolt"></i>
                            </div>
                            <div class="mb-8 ml-0 services-content media-body sm:ml-3">
                                <h4 class="services-title">Lorem ipsum dolor sit amet</h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a nunc lobortis, tristique magna in, fringilla mi.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="w-full md:w-1/3">
                        <div class="block mx-4 services-content sm:flex">
                            <div class="services-icon">
                                <i class="lni-bar-chart"></i>
                            </div>
                            <div class="mb-8 ml-0 services-content media-body sm:ml-3">
                                <h4 class="services-title">Lorem ipsum dolor sit amet</h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a nunc lobortis, tristique magna in, fringilla mi.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="w-full md:w-1/3">
                        <div class="block mx-4 services-content sm:flex">
                            <div class="services-icon">
                                <i class="lni-brush"></i>
                            </div>
                            <div class="mb-8 ml-0 services-content media-body sm:ml-3">
                                <h4 class="services-title">Lorem ipsum dolor sit amet</h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a nunc lobortis, tristique magna in, fringilla mi.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="w-full md:w-1/3">
                        <div class="block mx-4 services-content sm:flex">
                            <div class="services-icon">
                                <i class="lni-bulb"></i>
                            </div>
                            <div class="mb-8 ml-0 services-content media-body sm:ml-3">
                                <h4 class="services-title">Lorem ipsum dolor sit amet</h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a nunc lobortis, tristique magna in, fringilla mi.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="w-full md:w-1/3">
                        <div class="block mx-4 services-content sm:flex">
                            <div class="services-icon">
                                <i class="lni-bulb"></i>
                            </div>
                            <div class="mb-8 ml-0 services-content media-body sm:ml-3">
                                <h4 class="services-title">Lorem ipsum dolor sit amet</h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a nunc lobortis, tristique magna in, fringilla mi.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="w-full md:w-1/3">
                        <div class="block mx-4 services-content sm:flex">
                            <div class="services-icon">
                                <i class="lni-bulb"></i>
                            </div>
                            <div class="mb-8 ml-0 services-content media-body sm:ml-3">
                                <h4 class="services-title">Lorem ipsum dolor sit amet</h4>
                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a nunc lobortis, tristique magna in, fringilla mi.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- row -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<section id="testimonials" class="py-20 bg-gray-50">
    <div class="container">
        <div class="flex">
            <div class="w-full mx-4 lg:w-2/2">
                <div class="section-title">
                    <h4 class="title">What our clients say</h4>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="flex">
            <div class="w-full md:w-1/3">
                <div class="mx-4">
                    <div class="services-icon text-5xl text-center text-gray-800">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <div class="my-4 ml-0 sm:ml-3">
                        <p class="">
                            I had a great time training with Tom for more than three years.
                            He catered all workouts to specific needs.
                        </p>
                        <p class="my-5">
                            When I had back issues he took the time to customise my workout to help with my recovery.
                            I gained strength and tone, while having fun doing it.
                        </p>
                        <p>
                            I would have never achieved my level of fitness and wellness without his help.
                            I would still be training with him if I hadn't moved out of Australia.
                            I highly recommend Tom for his high quality personal training.
                        </p>
                        <h4 class="text-2xl font-light float-right italic">- Delphine Desforges</h4>
                    </div>
                </div> <!-- services content -->
            </div>
            <div class="w-full md:w-1/3">
                <div class="mx-4">
                    <div class="services-icon text-5xl text-center text-gray-800">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <div class="my-4 ml-0 sm:ml-3">
                        <p class="">
                            Exercise is key to managing a chronic condition of the spine called Ankylosing Spondylitis - a painful, inflammatory disorder I've had since my teens. 
                        </p>
                        <p class="my-5">
                            Tom's knowledge in exercise physiology has been invaluable in creating a specific program of exercises for me that build muscle mass while maintaining a maximum range of movement with minimal impact - crucial to the ongoing management of the condition.
                            Since training with Tom, I have not only experienced a reduction in pain, but also a marked improvement in my strength - particularly the core - and this in turn has enhanced my performance and enjoyment in other activities such as trail running and mountain biking.
                        </p>
                        <p>
                            Tom's instructions are always clear. His care and attention to detail is second to non. I have every confidence in his abilities and he has been a pleasure to train with.
                        </p>
                        <h4 class="text-2xl font-light float-right italic">- Lorem Ipsum</h4>
                    </div>
                </div> <!-- services content -->
            </div>
            <div class="w-full md:w-1/3">
                <div class="mx-4">
                    <div class="services-icon text-5xl text-center text-gray-800">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <div class="my-4 ml-0 sm:ml-3">
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tempor ante. Etiam porttitor quam vitae quam pulvinar, eu elementum dolor laoreet.
                        </p>
                        <p class="my-5">
                            Aliquam vitae viverra dolor. Morbi eu blandit ex. Praesent ac ante ac dolor faucibus iaculis nec eget mi. Etiam consequat, libero ut vehicula pellentesque, mi diam egestas quam, nec mattis ligula urna ac augue.
                        </p>
                        <h4 class="text-2xl font-light float-right italic">- Lorem Ipsum</h4>
                    </div>
                </div> <!-- services content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<footer>
    <div class="bg-gray-100">
        <div class="container">
            <div class="row">
                <div class="w-full">
                    <div class="py-6 text-center">
                        <p class="text-white">
                            <a href="#" class="text-gray-700">Copyright &copy; 2022 Lord Fitness Consulting</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>